.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  max-width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
}
.project {
  border: 1px solid black;

}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
  #projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }

  .project {
    flex-basis: 30%;
    margin: 0 auto;

  }
}
