.site-header {
  background: rgb(20, 64, 113);
  color: #fff;
;
}


footer {
  margin-left: 2em;
 }
.icon-menu {
  font-size: 2em;
  float: right;
  color: white;

}
.brand {
  line-height: 2em;
  float:right;
  font-size: 1.5em;
  color: white;
}

.main-nav {
  padding: 0.1em;
}
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
.main-nav ul li a {
  color: white;
}
/*.main-nav:hover ul {
  display: block;
}*/

.main-nav li {
  margin-right: .4em;
  font-size: 1.0em;
  padding: .5em .2em;
  color: #fff;
}
#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}
.tab; {
  color: #fff;
}
.img {

}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-left:2px;
}

.projectLogo {
  float:left;
}


@media only screen and (min-width:700px){
  .icon-menu{
    display: none;
  }
  .brand {
    display: none;
  }

  .main-nav ul{
    display: block;
  }

  .main-nav li{
    float:left;
    padding: .4em .5em;
  }
  .left-nav {
    margin: 0 0;
  }
  .lol {
    float:right;
  }
}
